Package: tftpd-dynamic
Version: 1.4-11
Section: utils
Priority: optional
Architecture: all
Depends: python3-jinja2, python3-setproctitle, python3-daemon, python3-pip
Maintainer: German Skalaukhov <keenser.sg@gmail.com>
Description: tftp daemon based on tftpy
